<div data-template="blog">
  <aside id="left_sidebar">
    <div id="webmentions"></div>
  </aside>

  <section id="content_block">
    <div class="blog e-content">
      <h1 id="Title"></h1>
      <img id="HeroImage" alt="" src="">
      <div id="Content"></div>
    </div>
    <div id="PostInfo" style="display:none;">
      <div class="p-author h-card">
        <a class="u-url n" href="https://flench.me">Glenn Sutherland</a>
      </div>
    </div>
  </section>

  <aside id="right_sidebar">
    <div id="author"></div>
  </aside>
</div>
