<div data-template="guestbook">
  <div id="head_extra">
    <link rel="alternate" type="application/rss+xml" title="Site RSS" href="/rss.xml" />
  </div>

  <aside id="left_sidebar"></aside>

  <section id="content_block">
    <div class="e-content" id="Content"></div>
    <div style="display:none;">
      <div class="p-author h-card">
        <a class="u-url n" href="https://flench.me">Flench04</a>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;">
      <iframe src="https://flench04.atabook.org" style="width: 50%;height: 75vh;margin-right: 10px"></iframe>
      <div style="width: 50%"></div>
    </div>
  </section>

  <aside id="right_sidebar"></aside>
  <section id="main_extras"></section>
</div>
