<div data-template="note">
  <div id="head_extra">
    <link rel="alternate" type="application/rss+xml" title="Notes RSS" href="/notes/rss.xml" />
  </div>

  <aside id="left_sidebar"></aside>

  <section id="content_block">
    <div class="note-page">
      <h1 id="Title"></h1>
      <div class="e-content" id="Content">
        <a class="bridgy-fed-webping" href="https://fed.brid.gy/">Bridgy Fed</a>
      </div>
      <div style="display:none;">
      </div>
    </div>
  </section>

  <aside id="right_sidebar"></aside>

  <section id="main_extras">
    <div></div>
  </section>
</div>
