<!DOCTYPE html>
<html lang="en">
  <head>


    <link rel="alternate" type="application/rss+xml" title="Site RSS" href="/rss.xml" />

  </head>
  <body>
    <div class="page-wrap">

      <div class="site-layout">
        <div class="center-column">
          <div class="content-shell">
            <button
              class="sidebar-toggle-button panel"
              type="button"
              aria-controls="left-sidebar"
              aria-expanded="false"
              hidden
            >
              Toggle sidebar
            </button>


            <div id="Nav"></div>
            <div class="content-row">
              <aside class="sidebar sidebar-left panel" id="left-sidebar">

              </aside>

              <main class="layout h-entry">
                <section class="content panel" id="ContentPanel">
                  <div id = "ad1" style="display: flex; justify-content: center; border: 2px solid; max-height: max-content; width: max-content;"><script src="https://ezrakruger.cc/adbank/embed.js" data-q="cat=isp&lang=en%2Cnone&size=468x60" data-mode="reload"></script></div>
                  <div class="e-content" id="Content"> </div>
                  <div id="PostInfo" style="display:none;">

                    <div class="p-author h-card">
                      <a class="u-url n" href="https://flench.me">Flench04</a>
                    </div>
                  </div>

                </section>

                <section class="main-extras">

                  <div id="webmentions"></div>
                  <div id="Footer"></div>

                </section>
              </main>

              <aside class="sidebar sidebar-left panel" id="right-sidebar">

              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
