<div data-template="test">
  <div id="head_extra">
    <link rel="alternate" type="application/rss+xml" title="Site RSS" href="/rss.xml" />
  </div>

  <div id="top"></div>
  <aside id="left_sidebar"></aside>

  <section id="content_block">
    <div class="e-content" id="Content"></div>
    <div id="PostInfo" style="display:none;">
      <div class="p-author h-card">
        <a class="u-url n" href="https://flench.me">Flench04</a>
      </div>
    </div>
  </section>

  <section id="main_extras">
    <div id="webmentions"></div>
  </section>

  <div id="test_output"></div>
</div>
