<div data-template="mobile-blog">
  <div id="head_extra">
    <link rel="alternate" type="application/rss+xml" title="Site RSS" href="/rss.xml" />
    <link rel="stylesheet" href="/css/mobile.css" />
  </div>

  <section id="content_block">
    <div class="blog e-content">
      <h1 id="Title"></h1>
      <img id="HeroImage" alt="" src="" />
      <div id="Content"></div>
    </div>
    <div id="PostInfo" style="display:none;">
      <div class="p-author h-card">
        <a class="u-url n" href="https://flench.me">Glenn Sutherland</a>
      </div>
    </div>
  </section>

  <section id="main_extras">
    <div id="webmentions"></div>
  </section>
</div>
