<div data-template="mobile-note">
  <div id="head_extra">
    <link rel="alternate" type="application/rss+xml" title="Notes RSS" href="/notes/rss.xml" />
  </div>

  <section id="content_block" class="note-page">
    <h1 id="Title"></h1>
    <div class="e-content" id="Content">
      <a class="bridgy-fed-webping" href="https://fed.brid.gy/">Bridgy Fed</a>
    </div>
    <div id="PostInfo" style="display:none;">
      <div class="p-author h-card">
        <a class="u-url n" href="https://flench.me">Flench04</a>
        <img class="u-photo" src="/profile.png"/>
      </div>
    </div>
  </section>

  <section id="main_extras"></section>
</div>
